.story-container {
	border: solid black 1px;
	width: 80%;
	height: 80%;
	overflow: auto;
	padding: 5px;
	margin: 0 auto;
}

#story-parent-container{
	width:50%;
	/*border: solid red 1px;*/
	padding-left: 5px;
	height: 450px;
	float: left;
	display: inline-block;
}

#record-parent-container{
	width: 40%;
	/*border: solid blue 1px;*/
	height: 450px;
	float: right;
	margin: 0 auto;
	display: inline-block;
}